h1 {
    color: orangered;
    background-color: black;
    font-size: 24px;
    position: relative;
    text-align: center;
    font-family: cursive;
}

.hi {
    text-transform: uppercase;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.test-1 {
    
}

.test-2 {

}

.text-standart {
    color: grey !important;
    font-size: 1.3em;
    font-weight: bold;
    font-family: monospace;
}

mark {
    color: blue;
}

#standart {
    font-style: italic;
}

.wrap-1 {
    border: 2px solid green;
    margin: 15px;
    padding: 15px;

}
.btn-1, .btn-2 {
    border: 1px solid black;
}